@model ML.Alumno
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Alumno</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione el boton de "Agregar" para añadir un alumno, el boton de amarillo para actualizar un alumno, y el boton rojo para eliminar un alumno</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-11 text-right">
            <p class="text-right">@Html.ActionLink("+", "Form", "Alumno", htmlAttributes: new { @class = "btn btn-success" })</p>
        </div>
    </div>
    <br />
    @if (Model.Alumnos !=null)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr class="text-center">
                            <td>Editar</td>

                            <td class="hidden">IdAlumno</td>
                            <td>Nombre Completo</td>

                            <td>Eliminar</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ML.Alumno alumno in Model.Alumnos)
                        {
                        <tr class="text-center">
                            <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Alumno", new { IdAlumno = alumno.IdAlumno })"></a></td>
                            <td>@alumno.Nombre @alumno.ApellidoPaterno @alumno.ApellidoMaterno</td>

                            <td><a class="btn btn-danger glyphicon-trash" href="@Url.Action("Delete", "Alumno", new { IdAlumno = alumno.IdAlumno })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    No se encontraron registros
                </div>
            </div>
        </div>
    }
</div>